/*
* timepicker css
* see copyright notice and licensing terms in:
*   ../js/libs/jquery-ui-timepicker-addon.js
*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }




/**
 * Primary styles
 */

body {
    padding-top: 60px;
}

header h3 {
    font-size: 2em;
    font-family: 'Vollkorn', 'Georgia', serif;
    font-weight: normal;
}

#list-table tr.listed-highlight td {
    background-color: #fffbde;
}

#list-table td a.edit-link {
    text-decoration:none;
    display:block;
    padding:0px;
    height:100%;
}

#list-table a.delete-link i {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
}

#list-table a.delete-link i:hover {
    background-color: #444;
    background-image: url(../img/glyphicons-halflings-white.png);
}

