<html>
  <head><title>login</title></head>
  <body>
    <form method="POST" action=".">
      {% for field in form %}
        <div {% if show_error_list and field.errors %}class="error"{% endif %}>
          {{ field.label }}
          {{ field(**kwargs)|safe }}
          {% if show_error_list and field.errors %}
            <ul class="errors_list">
              {% for error in field.errors %}<li>{{ error }}{% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </body>
