{% extends theme("admin/base.html") %}
{% from theme("admin/_paginationhelpers.html") import render_pagination %}

{% block title %}
{{model_name}}
{% endblock %}


{% block main %}

<h1>{{model_name}}</h1>

<br />

{% if clsnames %}
<div id="sidebar">
  <div class="box">
    <h2>Related types'</h2>
    <table>
      {% for clsname in clsnames %}
	<tr><td><a href="/SWMIS/Admin/{{clsname}}/?page=1">{{clsname}}</a></td></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}


  <ul id="model_list">
    <li><h2>{{ model_name }}</h2></li>
    {% for model_instance in model_instances  %}
      {% set model_pk = _get_pk_value(model_instance) %}
      <li>
        <a href="{{ url_for('generic_model_edit', model_name=model_name, model_key=model_pk) }}">{{ model_instance }}</a>
        <a href="{{ url_for('generic_model_delete', model_name=model_name, model_key=model_pk) }}" title="delete">
          <div class="ui-widget ui-state-default ui-corner-all" title="delete"><span class="ui-icon ui-icon-trash"></span></div>
        </a>        <!-- <div  title=".ui-icon-plus"><span class="ui-icon ui-icon-plus"></span></div> -->
        <a href="{{ url_for('generic_model_edit', model_name=model_name, model_key=model_pk) }}" title="edit">
          <div class="ui-widget ui-state-default ui-corner-all" title="edit"><span class="ui-icon ui-icon-pencil"></span></div>
        </a>
        <!-- <div class="ui-widget ui-state-default ui-corner-all" title=".ui-icon-trash"><span class="ui-icon ui-icon-trash"></span></div> -->
        <!-- <a href="{{ url_for('generic_model_edit', model_name=model_name, model_key=model_pk) }}" title="edit" class="icon edit"/> -->
        <!-- <a href="{{ url_for('generic_model_delete', model_name=model_name, model_key=model_pk) }}" title="delete" class="icon delete"/></td> -->
      </li>
    {% endfor %}
    <li>
      <a title="add new {{ model_name }}" href="{{ url_for('generic_model_add', model_name=model_name) }}">
        <div class="ui-widget ui-state-default ui-corner-all" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span></div>
      </a>
    </li>
  </ul>

  <!-- <div  title=".ui-icon-plus"><span class="ui-icon ui-icon-plus"></span></div> -->
  <div id="pager">{{ render_pagination(pagination, 'generic_model_list', model_name=model_name) }}</div>
{% endblock %}
