{% extends "admin/base.html" %}

{% block title %}
Edit {{model_name}}
{% endblock %}

{% block main %}

<h1>Edit {{model_name}}</h1>

<br />

<fieldset>
<legend>
Edit an instance of {{model_name}}
</legend>
<form method="POST" action="">

  {% from "_formhelpers.html" import render_field %}
    <dl>
      {% for field in form %}
        {{ render_field(field) }}	
      {% endfor %}
      {{ form.csrf }}
    </dl>

    <input type="submit" value="Submit" class="button">
    <input type="button" value="Cancel" class="button"
           onclick="javascript:window.location = '{{ url_for('generic_model_list', model_name=model_name) }}'" />
  </div>
</form>
</fieldset>


{% endblock %}
