{% extends "admin/admin_base.html" %}

{% block title %}
{{model_name}}
{% endblock %}


{% block main %}

<h1>{{model_name}}</h1>

<br />

{% if clsnames %}
<div id="sidebar">
  <div class="box">
    <h2>Related types'</h2>
    <table>
      {% for clsname in clsnames %}
	<tr><td><a href="/SWMIS/Admin/{{clsname}}/?page=1">{{clsname}}</a></td></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

  <h2>Existing {{ model_name }} objects</h2>
  <table id="existing_table">
    <tr>
      <th>{{ model_name }}</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for model_instance in model_instances  %}
      <tr>
        <td>{{ model_instance }}</td>
        {% set model_pk = _get_primary_key(model_instance) %}
        <td><a href="{{ url_for('generic_model_edit', model_name=model_name, model_key=model_pk) }}" title="edit" class="icon edit"/></td>
        <td><a href="{{ url_for('generic_model_delete', model_name=model_name, model_key=model_pk) }}" title="delete" class="icon delete"/></td>
      </tr>
    {% endfor %}
  </table>
  <a class="icon add" title="New object" href="{{ url_for('generic_model_add', model_name=model_name) }}">New object</a>
  <div id="pager">{{ pagine_string }}</div>
{% endblock %}
