
/*
  borrowed from:
  http://css.maxdesign.com.au/listamatic/vertical08.htm  
*/
#admincontainer
{
    margin-left: 10px;
}

#admincontainer ul
{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: Georgia, serif;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
}

#admincontainer .adminheader
{
    background-color: #DBD489;
    font-weight: bold;
    display: block;
    padding: 3px 3px 3px 7px;
    border-bottom: 1px solid #CDCDCD;
}

#admincontainer a
{
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 3px 1px 3px 9px;
    background-color: #D5D2AF;
    border-bottom: 1px solid #CDCDCD;
}

#admincontainer .odd a
{
    background-color: #FFFFEF;
}

#admincontainer .even a
{
    background-color: #F4F4D1;
}

#admincontainer a:hover
{
    background-color: #E8E78C;
}



/*
  admin table stuff
*/
table, table tr
{
    border-collapse:collapse;
    padding:0;
}

table th, table td
{
    border:thin solid #BBBBBB;
    border-collapse:collapse;
    margin:0;
    padding:0.2em 0.5em;
}

table th
{
    font-weight:bold;
    background-color: #DBD489;
}

td a
{
    display:block;
}

tbody tr:nth-child(odd) td, tbody tr.even td {
    background:#F4F4D1;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background:#FFFFEF;
}

td form
{
    text-align:center;
}

td input.ui-icon
{
    background-color:transparent;
    border:0px;
    width:16px;
    height: 0px;
    overflow:hidden;
    padding-bottom:13px;
    cursor:pointer;
}

.icon
{
    display:block;
    height:0px;
    padding-top:16px;
    width:16px;
    overflow:hidden;
}

input.icon
{
    border:none;
    width:16px;
    height:16px;
    padding:0;
    cursor:pointer;
}

.add {
    margin-left:1em;
    margin-bottom: 0.3em;
    background: url('/static/icons/add.png');
}
.delete {
    background: url('/static/icons/delete.png');
    float:left;
}
.edit {
    background: url('/static/icons/edit.png');
    float:left;
}

#pager {
    text-align: center;
    margin-top: 0.5em;
}
#pager a, #pager .pager_curpage {
    padding: 0 0.2em;
    border:thin solid #114477;
    background: #73A0C5;
    color: white;
}

#pager a:hover, #pager .pager_curpage {
    text-decoration:none;
    background:white;
    color:#114477;
}

