{% extends "admin/extra_base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}
Editing {{model_name}}
{% endblock %}

{% block main %}

<form class="edit_form" method="POST" action=""{% if has_file_field: %} enctype="multipart/form-data"{% endif %}>
  <fieldset>
    <legend>
      Editing {{model_name}}
    </legend>
      <ul>
        {% for field in form %}
          <li>
            {{ render_field(field) }}
          </li>
        {% endfor %}
        {{ form.csrf }}
      </ul>
      <input type="submit" value="Submit" class="button"/>
      <input type="button" value="Cancel" class="button"
             onclick="javascript:window.location = '{{ url_for('.list_view', model_name=model_name) }}'" />
    </div>
  </fieldset>
</form>

{% endblock %}
