{% extends "admin/extra_base.html" %}
{% from "admin/_formhelpers.html" import render_field %}
{% block title %}
Editing {{model_name}}
{% endblock %}

{% block main %}

<form class="edit_form" method="POST" action=""{% if form._has_file_field %} enctype="multipart/form-data"{% endif %}>
  <fieldset>
    <legend>
      Editing {{model_name}}
    </legend>
    {% for field in form %}
      {{ render_field(field) }}
    {% endfor %}
    {{ form.csrf }}
    <div class="actions">
      <input type="submit" value="Save {{ model_name }}" class="btn primary large"/>
      <input type="button" value="Cancel" class="btn large"
             onclick="javascript:window.location = '{{ url_for('.list', model_name=model_name) }}'" />
    </div>
  </fieldset>
</form>

{% endblock %}
