{% extends "admin/extra_base.html" %}
{% from "admin/_paginationhelpers.html" import render_pagination %}

{%- block title -%}
  {{ model_name|lower }} list
{%- endblock -%}

{% block main %}
{% if not pagination.total  %}
  <div class="container">
    <div id="main" class="content">
      <div class="row">
        Not a single {{ model_name|lower }} was found.
      </div>
      <div class="row">
        <a title="add new {{ model_name }}" href="{{ url_for('.add', model_name=model_name) }}" class="btn btn-success">
          <i class="icon-plus icon-white"></i> add a {{ model_name|lower }}
        </a>
      </div>
    </div>
  </div>

 {% else %}

  {{ render_pagination(pagination, '.list', model_name=model_name) }}
  <table class="table table-condensed table-striped" id="list-table">
    <thead>
      <tr>
        <th>{{ model_name|lower }}</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
    {% for model_instance in pagination.items  %}
      {% set model_url_key = get_model_url_key(model_instance) %}
      <tr class="listed">
        <td>
          <a class="edit-link" href="{{ url_for('.edit', model_name=model_name, model_url_key=model_url_key) }}">{{ model_instance }}</a>
        </td>
        <td>
          <a href="{{ url_for('.delete', model_name=model_name, model_url_key=model_url_key) }}" class="delete-link" title="delete">
            <i class="icon-remove"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(pagination, '.list', model_name=model_name) }}
  <a title="add new {{ model_name }}" href="{{ url_for('.add', model_name=model_name) }}" class="btn btn-success">
    <i class="icon-plus icon-white"></i> add new {{ model_name|lower }}
  </a>
{% endif %}
{% endblock %}
